body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

.sidebar {
    background-color: #000;
    color: #fff;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    background-color: #444;
    height: 100vh;
    box-sizing: border-box;
}

section {
    background-color: #666;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}
